.more {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 1em;
}
.more:hover {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.397);
  scale: 1.01;
}

.more img {
  max-width: 24px;
}

.text-hiden {
  display: none;
}

.text-visible {
  display: block;
}
