.profile {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px 0px;
}

.profile:hover {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.397);
  scale: 1.01;
}

.profile img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
