@media screen and (max-width: 1280px) {
  .main {
    margin: 20px 100px auto 140px;
  }

  .navigation {
    width: 65px;
  }

  .navbar-items h3,
  .profile h3,
  .more h3 {
    display: none;
  }

  .navigation-logo-responsive {
    display: block;
  }

  .container {
    gap: 35px;
  }
}

@media screen and (max-width: 1160px) {
  .main-aside {
    display: none;
  }

  .main {
    margin: 20px auto;
  }
}

@media screen and (max-width: 767px) {
}
